@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-synthesis: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  :root {
    --background: 210 25% 96%;
    --foreground: 224 40% 12%;

    --card: 210 25% 98%;
    --card-foreground: 224 40% 12%;

    --popover: 210 25% 98%;
    --popover-foreground: 224 40% 12%;

    --primary: 200 70% 45%;
    --primary-foreground: 210 25% 98%;

    --secondary: 187 65% 45%;
    --secondary-foreground: 200 40% 12%;

    --muted: 210 25% 92%;
    --muted-foreground: 215 25% 35%;

    --accent: 199 70% 45%;
    --accent-foreground: 200 40% 12%;

    --destructive: 0 75% 55.2%;
    --destructive-foreground: 210 25% 98%;

    --border: 214 20% 85%;
    --input: 214 20% 85%;
    --ring: 200 70% 45%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 30% 10%;
    --foreground: 210 25% 96%;

    --card: 224 30% 12%;
    --card-foreground: 210 25% 96%;

    --popover: 224 30% 14%;
    --popover-foreground: 210 25% 96%;

    --primary: 200 75% 55%;
    --primary-foreground: 210 25% 96%;

    --secondary: 187 70% 55%;
    --secondary-foreground: 210 25% 96%;

    --muted: 223 25% 18%;
    --muted-foreground: 215.4 16.3% 75%;

    --accent: 199 75% 55%;
    --accent-foreground: 210 25% 96%;

    --destructive: 0 75% 60.2%;
    --destructive-foreground: 210 25% 96%;

    --border: 215 25% 25%;
    --input: 215 25% 25%;
    --ring: 200 75% 55%;
  }
}
